h1{
    background-color: rgb(219, 235, 203);
    text-align: center;
}
*{
    padding: 10px;
}
button{
    background-position: center;
    background-color: rgb(219, 235, 203);
    /* padding: 5px; */
}
