/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        background-color: #f0f0f0;
    }
    
    header, footer {
        padding: 0.5em;
    }

    main {
        padding: 0.5em;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

/* Media query for tablets */
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        background-color: #e0e0e0;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }
}

/* Media query for desktops */
@media (min-width: 1201px) {
    body {
        background-color: #fff;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.5em;
    }
}

h1{
    /* background-color: rgb(219, 235, 203); */
    text-align:left;
}
*{
    padding: 20px;
}
button{
    /* background-position: center; */
    /* background-color: rgb(219, 235, 203); */
    /* padding: 5px; */
}
.container-h{
    background-color: rgba(228,243,211,0.42);

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
     /* font-size: 20px; */
    /* font-weight: 600; */
    color: rgba(0,0,0,0.7);
    padding: 15px 45px;
    background-color: transparent;
    background-size: 0%;
    background-image: linear-gradient(to right, #ED4264, #ffedbc);
    border: 5px solid #170d0f;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.container{
    background-color: rgba(228,243,211,0.42);

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;

}
.custom-button{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    padding: 15px 45px;
    background-color: transparent;
    background-size: 0%;
    background-image: linear-gradient(to right, #ED4264, #ffedbc);
    border: 5px solid #170d0f;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.custom-button:hover{
    background-size: 100%;
    color: white;
   
}
li{
    background-color: #968e9a;
    border: 5px solid rgb(210, 208, 207);
    border-top: 5px;
    border-left: 5px;
    border-radius: 20px;
    box-shadow: 30px;
}
.header{
    height: 350px;
    background-image: url(images/kazai-nazrul-islam\ 1.jpg);
}
.heads{
    -webkit-text-fill-color: #edc0c9;
    background-color: rgb(114, 109, 123);
    height: fit-content;
    text-decoration-color: #ED4264;
}
